--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.35.0
PyPDF2==3.0.1
keybert==0.7.0
sentence-transformers==2.2.2
transformers==4.28.1
scikit-learn==1.4.1.post1
torch==2.5.1+cpu
reportlab==4.0.9
matplotlib==3.8.4